* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'myFont';
    src: url(DanceToday-JRdzM.otf) format('otf');
    font-weight: 600;
    font-style: normal;
}
body {
    height: 100vh;
    font-family: 'myFont';
    header {
        background-color: #D7C0AE;
        color: #562B08;
        padding: 1rem 0;
        .container {
            display: flex;
            align-items: center;
            width: 75%;
            margin: 0 auto;
            .logo {
                margin-right: auto;
            }
            .links {
                display: flex;
                align-items: center;
                gap: 2rem;
                h3 {
                    border: 3px solid #562B08;
                    padding: 0.5rem 1rem;
                    border-radius: 7px;
                    transition: all 0.4s;
                    
                }
                .active {
                    background-color: #562B08;
                    color: #D7C0AE;
                }
                h3:hover {
                    background-color: #562B08;
                    color: #D7C0AE;
                    cursor: pointer;
                }
            }
        }
    }
    main {
        background-image: url(img/main.jpg);
        background-color: #562b08;
        background-position:top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        .slogan {
            max-width: 100%;
            padding: 2rem;
            h1 {
                font-size: 4rem;
                color: #D7C0AE;
            }
            h3 {
                font-size: 2rem;
                color: #D7C0AE;
                text-align: center;
                padding-top: 2rem;
            }
        }
        button {
            padding: 1rem 2rem;
            background-color: #562B08;
            color: #D7C0AE;
            border: none;
            border-radius: 7px;
            font-size: 1.1rem;
            font-weight: 700;
            transition: all 0.4s;
        }
        button:hover {
            background-color: #D7C0AE;
            color: #562B08;
            cursor: pointer;

        }
    }
    .menu {
        background: linear-gradient(
            to right,
            #D7C0AE, #876445
        );
        background-size: 400% 400%;
        animation: animate-background 5s infinite ease-in-out;
        padding-top: 10rem;
        min-height: 80vh;
        .menuContainer {
            width: 75%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
            gap: 0.5rem;
            .card {
                min-height: 200px;
                text-align: center;
                padding: 1rem;
                img {
                    width: 70%;
                    border-radius: 50%;
                    transition: all 0.5s;
                    margin-bottom: 1rem;
                }
                .card-header {
                    padding-top: 1rem;
                    border-top: 1px solid white;
                    width: 70%;
                    margin: 0 auto;
                    color: white;
                    transition: all 0.4s;
                    font-size: 1.2rem;
                }
            }
            .card:hover {
                .card-header {
                    color: #562B08;
                    border-color: #562B08;
                }
                img {
                    border-radius: 10px;
                    scale: 1.15;
                }
            }
        }
    }
    .about {
        background-color: #562B08;
        height: 85vh;
        h2 {
            text-align: center;
            padding: 2rem;
            padding-top: 5rem;
            color: #D7C0AE;
            font-size: 2.5rem;
        }
        .contact {
            background-color: #D7C0AE;
            width: 75%;
            margin: 0 auto;
            padding: 1rem;
            padding-top: 3rem;
            img {
                border-radius: 50%;
                width: 10%;
            }
            .img {
                text-align: center;
            }
            .infos {
                padding: 2rem;
                .contactHeader {
                    text-align: center;
                }
                .info {
                    margin-top: 5rem;
                    display: flex;
                    justify-content: center;
                }
                p {
                    padding: 1rem;
                    font-size: 1.2rem;
                    color: #562B08;
                    font-weight: 700;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: #562B08;
                        font-weight: 700;
                        box-shadow: inset 0 0 0 0 #562B08;
                        margin: 0 -0.25rem;
                        padding: .25rem .25rem;
                        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    }
                    a:hover {
                        box-shadow: inset 200px 0 0 0 #562B08;
                        color: #D7C0AE;
                    }
                }
                .fa-location-pin {
                        color: #562B08;
                        margin-right: 1rem;
                }
                .fa-mobile {
                    color: #562B08;
                    margin-right: 1rem;
                }
                .fa-square-instagram {
                    color: #562B08;
                    margin-right: 1rem;
                }
            }
        }
    }
}
// animation
@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}